<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/logo.svg">
    <title>SubVault</title>

    <link rel="stylesheet" href="css/tailwind.css">
    <link rel="stylesheet" href="css/style.css">

    <script type="text/javascript" src="/eel.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
    <div class="m-auto w-4/5 mt-10 pt-6">
      <h1 class="text-4xl">
        Write the name of the <span style="color: #41EAD4;" class="font-bold">folder</span> you would like to <span style="color: #41EAD4;" class="font-bold">encrypt.</span>
      </h1>

      <div class="mt-5">
        <div class="text-sm text-red-500 font-bold ml-1 mb-1 hidden">Could not find the folder with that name.</div>
        <input placeholder="Vault.." type="text" class="text-black p-3 pl-3 rounded-lg w-4/5 outline-none">
        <button class="sm:ml-3 w-24 pr-4 p-3 rounded-lg font-bold outline-none hover:bg-red-300" style="background-color: red">Encrypt.</button>
      </div>

      <div class="mt-5 hidden">
        <h3 class="text-2xl font-bold mb-2" id="password_folder"></h3>
        <div class="text-sm text-red-500 font-bold ml-1 mb-1 hidden">The password isn't correct.</div>
        <input placeholder="Password" type="password" class="text-black p-3 pl-3 rounded-lg w-2/5 outline-none">
        <button class="sm:ml-3 w-24 pr-4 p-3 rounded-lg font-bold outline-none hover:bg-red-300" style="background-color: red">Decrypt.</button>
      </div>

      <div class="mt-5 hidden">
        <h3 class="text-2xl font-bold mb-2" id="password_folder"></h3>
        <div class="text-sm text-red-500 font-bold ml-1 mb-1 hidden">The password isn't correct.</div>
        <input placeholder="Password" type="password" class="text-black p-3 pl-3 rounded-lg w-1/3 outline-none">
        <input placeholder="Verify Password" type="password" class="text-black p-3 pl-3 ml-2 rounded-lg w-1/3 outline-none">
        <button class="sm:ml-3 w-24 pr-4 p-3 rounded-lg font-bold outline-none hover:bg-red-300" style="background-color: red">Decrypt.</button>
      </div>

      <table class="table-auto mt-8 w-full" id="vault_table">
        <thead>
          <tr class="text-2xl" style="border-bottom: 3px solid red;">
            <td class="w-1/2 pb-1 pt-1 text-left">Already Found</td>
            <td class="w-1/4 pb-1 pt-1 text-center">Size</td>
            <td class="w-1/4 pb-1 pt-1 text-center">Pick</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="w-1/2 pb-3 pt-3 font-bold">-</td>
            <td class="w-1/4 pb-3 pt-3 text-center">-</td>
            <td class="w-1/4 pb-3 pt-3 text-center">-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>