<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/logo.svg">
    <title>SubVault</title>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <script type="text/javascript" src="/eel.js"></script>
    <script src="presenter/home/Created.js"></script>
    <script src="presenter/home/InputListeners.js"></script>
  </head>
  <body onload="getVaultFiles()">
    <div class="m-auto w-4/5 mt-10 pt-6">
      <h1 class="text-4xl">
        Write the name of the <span style="color: #41EAD4;" class="font-bold">folder</span> you would like to <span style="color: #41EAD4;" class="font-bold">encrypt.</span>
      </h1>

      <div class="mt-5">
        <div class="text-sm text-red-500 font-bold ml-1 mb-1 hidden" id="folder_name_error">Could not find the folder with that name.</div>
        <input placeholder="Vault.." id="vault_name" type="text" class="text-black p-3 pl-3 rounded-lg w-4/5 outline-none">
        <button class="sm:ml-3 w-24 pr-4 p-3 rounded-lg font-bold outline-none hover:bg-red-300"
          onclick="revealEncryptionPopUp()" style="background-color: red">Encrypt.</button>
      </div>

      <div class="mt-5 hidden" id="decrypt_vault_pass">
        <h3 class="text-2xl font-bold mb-2" id="decrypt_password_vault"></h3>
        <div class="text-sm text-red-500 font-bold ml-1 mb-1 hidden" id="decrypt_password_error">The password isn't correct.</div>
        <input placeholder="Password" type="password" class="text-black p-3 pl-3 rounded-lg w-2/5 outline-none" id="decrypt_password">
        <button class="sm:ml-3 w-24 pr-4 p-3 rounded-lg font-bold outline-none"
          onclick="decryptVaultFile()" style="background-color: red">Decrypt.</button>
        <button class="sm:ml-1 w-12 p-3 rounded-lg font-extrabold outline-none text-red-500"
          onclick="closeDecryptFolderPopUp()" style="background-color: white">X</button>
      </div>

      <div class="mt-5 hidden" id="encypt_folder_pass">
        <h3 class="text-2xl font-bold mb-2" id="encrypt_password_folder"></h3>
        <div class="text-sm text-red-500 font-bold ml-1 mb-1 hidden" id="folder_logs_error">There are no logs in that folder.</div>
        <div class="text-sm text-red-500 font-bold ml-1 mb-1 hidden" id="encrypt_password_error">The password isn't correct.</div>
        <input placeholder="Password" type="password" class="text-black p-3 pl-3 rounded-lg w-1/3 outline-none" id="encrypt_password">
        <input placeholder="Verify Password" type="password" class="text-black p-3 pl-3 ml-2 rounded-lg w-1/3 outline-none" id="encrypt_password_verify">
        <button class="sm:ml-1 w-24 pr-4 p-3 rounded-lg font-bold outline-none"
          onclick="encryptVaultFolder()" style="background-color: red">Encrypt.</button>
        <button class="sm:ml-1 w-12 p-3 rounded-lg font-extrabold outline-none text-red-500"
          onclick="closeEcryptFolderPopUp()" style="background-color: white">X</button>
        <div class="underline text-sm text-white text-opacity-95 hover:text-opacity-80 cursor-pointer mt-2"
          onclick="revealFolderLogHistory()">Show vault logs</div>
      </div>

      <table class="table-auto mt-8 mb-12 w-full">
        <thead>
          <tr class="text-2xl" style="border-bottom: 3px solid red;">
            <td class="w-1/2 pb-1 pt-1 text-left">Already Found</td>
            <td class="w-1/4 pb-1 pt-1 text-center">Size</td>
            <td class="w-1/4 pb-1 pt-1 text-center">Options</td>
          </tr>
        </thead>
        <tbody id="vault_table_body"></tbody>
      </table>
    </div>
  </body>
</html>